
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    color: rgb(146, 125, 99);
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Edición Link visitados*/
a:link, a:visited {
    text-decoration: none;
}
a:link {
    cursor: grab;
}