/*Ubicación*/

.titulo-ubicacion {
    display: flex;
    justify-content: center;
}

.mapa-ubicacion {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mapa-ubicacion2 {
    width: 450px;
    height: 450px;
}

