//IMPORTS
//Import footer
@import "footer";
//IMPORT reseteo
@import "reseteocss";
//Import header
@import "header";
//import reseñas
@import "resenas";
//import responsive
@import "responsive";
//import tratamientos
@import "tratamientos";
//import contacto
@import "contacto";
//import ubicacion
@import "ubicacion";
//import fondo
@import "fondo";

/* Edición Logo*/
.logo {
    width: 550px;
    height: 350px;
    display: flex;
    justify-content: center;
}
/*Título index*/
.bienvenido-title {
    text-align: center;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.cuerpo-web-index {
    display: flex;
    justify-content: center;
}

.cuerpo-web-index2 {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(22, 19, 19);
}
/*Edición body main*/
.body-main {
    width: 100%;
}
/*Texto del index*/
.formulario-contacto {
margin: 0 auto;
display: block;
}